<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<title>BatCat Gm</title>
<!-- Bootstrap core CSS -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/jquery.tagsinput.css" rel="stylesheet">
<link href="/stylesheets/bootstrap-select.css" rel="stylesheet">
<link href="/stylesheets/pnotify.custom.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/stylesheets/common.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="/javascripts/html5shiv.min.js"></script>
<script src="/javascripts/respond.min.js"></script>
<![endif]-->