<script type="text/javascript">
    var infos = [];
</script>


{% for inf in info %}
<script type="text/javascript">infos.push({type:'info', message:'{{inf}}'});</script>
{% endfor %}

{% for error in errors %}
<script type="text/javascript">infos.push({type:'error', message:'{{error}}'});</script>
{% endfor %}

{% for succ in success %}
<script type="text/javascript">infos.push({type:'success', message:'{{succ}}'});</script>
{% endfor %}

{% for warn in warning %}
<script type="text/javascript">infos.push({type:'notice', message:'{{warn}}'});</script>
{% endfor %}

<script type="text/javascript">
    $(function(){
        for(var i = 0; i < infos.length; i++){
            var info = infos[i];
            new PNotify({
                text:info.message,
                type:info.type
            });
        }
    });
</script>