<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">BatcatStudio</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                {% if hasRole('CustomerService') %}
                <li class="{{isActive('/service')}}"><a href="/service">Service</a></li>
                {% endif %}
                {% if hasRole('Manager') %}
                <li class="{{isActive('/manager')}}"><a href="/manager">Manager</a></li>
                {% endif %}
                {% if hasRole('Errors') %}
                <li class="{{isActive('/errors')}}"><a href="/errors">Errors</a></li>
                {% endif %}
                {% if hasRole('Admin') %}
                <li class="{{isActive('/admin')}}"><a href="/admin">Admin</a></li>
                {% endif %}
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {%if req.user.defaultGame === 'none'%}
                        {{req.user.defaultGame}}
                        {%else%}
                        {%for game in req.games%}
                        {%if req.user.defaultGame === game._id%}
                        {{game.name}}
                        {%endif%}
                        {%endfor%}
                        {%endif%}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" id="gameSelector">
                        {%for game in req.games%}
                        {%if req.user.defaultGame === game._id%}
                        <li class="active">
                            <a href="#" gameId="{{game._id}}" gameName="{{game.name}}">{{game.name}}</a>
                        </li>
                        {%else%}
                        <li>
                            <a href="#" gameId="{{game._id}}" gameName="{{game.name}}">{{game.name}}</a>
                        </li>
                        {%endif%}
                        {%endfor%}
                    </ul>
                </li>
                <li><a href="/user/edit-my-password">{{req.user.email}}</a></li>
                <li><a href="/user/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>