{% extends '../../layouts/service.html' %}

{% block head %}
<script src='/javascripts/json-format.js'></script>
<link href="/stylesheets/json-format.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td><strong>ID</strong></td>
                <td>{{player._id}}</td>
            </tr>
            <tr>
                <td><strong>设备号</strong></td>
                <td>{{player.lastDeviceId}}</td>
            </tr>
            <tr>
                <td><strong>名称</strong></td>
                <td>{{player.basicInfo.name}}</td>
            </tr>
            <tr>
                <td><strong>状态</strong></td>
                <td>{% if !!player.logicServerId %}在线 {% else %} 离线 {% endif %}</td>
            </tr>
            <tr>
                <td><strong>服务器ID</strong></td>
                <td>{{player.serverId}}</td>
            </tr>
            <tr>
                <td><strong>联盟ID</strong></td>
                <td>{{player.allianceId | default('未加入')}}</td>
            </tr>
            <tr>
                <td><strong>注册时间</strong></td>
                <td>{{player.countInfo.registerTime|date('Y-m-d H:i:s')}}</td>
            </tr>
            <tr>
                <td><strong>最后登录时间</strong></td>
                <td>{{player.countInfo.lastLoginTime|date('Y-m-d H:i:s')}}</td>
            </tr>
            <tr>
                <td><strong>到期锁定时间</strong></td>
                <td>
                    {% if player.countInfo.lockTime - Date.now() > 0 %} {{player.countInfo.lockTime|date('Y-m-d H:i:s')}}
                    {% else %} 未锁定 {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>到期禁言时间</strong></td>
                <td>
                    {% if player.countInfo.muteTime - Date.now() > 0 %} {{player.countInfo.muteTime|date('Y-m-d H:i:s')}}
                    {% else %} 未禁言 {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>宝石数量</strong></td>
                <td>{{player.resources.gem}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-8">
        <textarea id="RawJson" hidden>{{playerString}}</textarea>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span id="CollapsibleViewDetail">
                    <a href="javascript:void(0);" onclick="ExpandAllClicked()">展开</a>
                    <a href="javascript:void(0);" onclick="CollapseAllClicked()">叠起</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(3)">2级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(4)">3级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(5)">4级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(6)">5级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(7)">6级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(8)">7级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(9)">8级</a>
                </span>
                <span hidden>
                    <select id="TabSize" onchange="TabSizeChanged()">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <input type="checkbox" id="QuoteKeys" onclick="QuoteKeysClicked()"/>
                    <input type="checkbox" id="CollapsibleView" onclick="CollapsibleViewClicked()" checked/>
                </span>
            </div>
            <div class="panel-body" id="Canvas"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block foot %}
<script type="text/javascript">
    $(function(){
        QuoteKeysClicked();
        CollapseLevel(3);
    })
</script>
{% endblock %}
