{% extends '../../layouts/service.html' %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="/service/server-notice">Servers</a></li>
    <li class="active">Notices</li>
</ol>
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>title</th>
        <th>content</th>
        <th>Time</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for index, notice in data%}
    <tr>
        <td>{{notice.title}}</td>
        <td>{{notice.content}}</td>
        <td>{{notice.time|date('Y-m-d H:i:s', -60 * 8)}}</td>
        <td>
            <form action="/service/server-notice/{{req.params.cacheServerId}}/{{notice.id}}" method="post"
                  onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                &nbsp;
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-link link-button error" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}