{% extends '../../layouts/service.html' %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/service/server-notice">服务器列表</a></li>
    <li class="active">新建公告</li>
</ol>
<form action="/service/server-notice/create" method="post" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{csrf_token}}">
    <div class="form-group">
        <label class="col-sm-2 control-label">发布到哪里</label>

        <div class="col-sm-9">
            {% for index, server in req.game.servers %}
            <label class="checkbox-inline">
                <input type="checkbox" name="servers[{{index}}]"
                       value="{{server}}" {%if contains(notice.servers, server) %}checked{% endif %}>
                {{server}}
            </label>
            {% endfor %}
        </div>
    </div>
    {% for language in req.game.languages %}
    <div class="form-group">
        <label for="title_{{language}}" class="col-sm-2 control-label">标题({{language}})</label>

        <div class="col-sm-9">
            <input type="text" name="title[{{language}}]" placeholder="标题({{language}})" value="{%if !!notice.title[language] %}{{notice.title[language]}} {%endif%}" id="title_{{language}}"
                   class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="content_{{language}}" class="col-sm-2 control-label">内容({{language}})</label>

        <div class="col-sm-9">
            <textarea rows="5" name="content[{{language}}]" placeholder="内容({{language}})" id="content_{{language}}"
                      class="form-control">{%if !!notice.content[language] %}{{notice.content[language]}}{%endif%}</textarea>
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button class="btn btn-primary" type="submit">发布</button>
            &nbsp; or &nbsp;
            <a href="/service/server-notice" class="show-login">取消</a>
        </div>
    </div>
</form>
{% endblock %}