{% extends '../../layouts/admin.html' %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/admin/games/list">游戏列表</a></li>
    <li class="active">编辑游戏</li>
</ol>
<h4 style="text-align: center">编辑游戏</h4>

<form action="/admin/games/edit/{{game._id}}" method="post" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{csrf_token}}">
    <input type="hidden" name="_method" value="PUT">

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">名称</label>

        <div class="col-sm-9">
            <input type="text" name="name" placeholder="名称" value="{{game.name}}" id="name"
                   class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="ip" class="col-sm-2 control-label">Ip</label>

        <div class="col-sm-9">
            <input type="text" name="ip" placeholder="Ip" value="{{game.ip}}" id="ip"
                   class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="port" class="col-sm-2 control-label">Port</label>

        <div class="col-sm-9">
            <input type="text" name="port" placeholder="Port" value="{{game.port}}" id="port"
                   class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="servers" class="col-sm-2 control-label">服务器组</label>

        <div class="col-sm-9">
            <input type="text" name="servers" placeholder="服务器组" value="{{game.servers}}"
                   id="servers"
                   class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">支持的游戏语言</label>

        <div class="col-sm-9">
            {% for key, value in languages %}
            <label class="checkbox-inline">
                <input type="checkbox" id="languages_{{key}}" name="languages[]" value="{{value}}"
                       {%if contains(game.languages, value) %}checked{% endif %}>
                {{value}}
            </label>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button class="btn btn-primary" type="submit">编辑</button>
            &nbsp; or &nbsp;
            <a href="/admin/games/list" class="show-login">取消</a>
        </div>
    </div>
</form>
{% endblock %}