{% extends '../layouts/index.html' %}
{% block content %}
<h4 style="text-align: center">Edit Password</h4>
<form action="/user/edit-my-password" method="post" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <input type="hidden" name="_method" value="PUT">

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Original Password</label>

        <div class="col-sm-9">
            <input id="password" class="form-control" type="password" name="password" placeholder="Original Password">
        </div>
    </div>
    <div class="form-group">
        <label for="newpassword" class="col-sm-2 control-label">New Password</label>

        <div class="col-sm-9">
            <input id="newpassword" class="form-control" type="password" name="newpassword" placeholder="New Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button class="btn btn-primary" type="submit">Edit</button>
            &nbsp; or &nbsp;
            <a href="/" class="show-login">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}