{%extends '../layouts/service.html'%}


{% block content %}
<div class="row">
    <h4 style="text-align: center">Send System Chat</h4>

    <form action="/service/send-system-chat" method="post" role="form" class="form-horizontal" id="send-system-chat">
        <input type="hidden" name="_csrf" value="{{csrf_token}}">

        <div class="form-group">
            <label for="game" class="col-sm-2 control-label">Game</label>

            <div class="col-sm-9">
                <select title='Choose a game' name="gameId" id="game" class="selectpicker">
                    {% for game in games %}
                    <option value="{{game._id}}">{{game.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">Content</label>

            <div class="col-sm-9">
                <input type="text" name="content" placeholder="Content" id="content" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button class="btn btn-primary" type="submit">Send</button>
                &nbsp; or &nbsp;
                <a href="/service/notice-and-mail" class="show-login">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var errorTemplate = '<div class="fade in alert alert-danger" id="error_messages_container""><button class="close" type="button" data-dismiss="alert">×</button><ul id="error_messages"></ul> </div>';
    var showErrors = function(errors){
        $('#body_content').prepend(errorTemplate);
        for(var i = 0; i < errors.length; i++){
            $('#error_messages').append('<li>' + errors[i] + '</li>');
        }
    };

    $(function(){
        $('#send-system-chat').ajaxForm(function(resp){
            $('#error_messages_container').remove();
            if(resp.code === 500) showErrors(resp.data);
        });
    })
</script>
{% endblock %}