{% extends '../layouts/service.html' %}
{% block content %}
<form action="{{action}}" method="get" role="form" class="form-horizontal" id="findById">
    <div class="form-group">
        <label for="playerId" class="col-sm-2 control-label">Player Id</label>

        <div class="col-sm-9">
            <input type="text" name="playerId" placeholder="Player Id" id="playerId"
                   class="form-control" value="{{data.query.playerId}}">
        </div>
    </div>
    <div class="form-group">
        <label for="dateFrom" class="col-sm-2 control-label">Date From</label>

        <div class="col-sm-9">
            <input type="text" name="dateFrom" placeholder="Date From" id="dateFrom"
                   class="form-control" value="{{data.query.dateFrom|date('Y-m-d')}}">
        </div>
    </div>
    <div class="form-group">
        <label for="dateTo" class="col-sm-2 control-label">Date To</label>

        <div class="col-sm-9">
            <input type="text" name="dateTo" placeholder="Date To" id="dateTo"
                   class="form-control" value="{{data.query.dateTo|date('Y-m-d')}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
<br/>
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>playerId</th>
        <th>playerName</th>
        <th>changed</th>
        <th>left</th>
        <th>api</th>
        <th>params</th>
        <th>time</th>
    </tr>
    </thead>
    <tbody>
    {% for data in data.datas%}
    <tr>
        <td>{{data.playerId}}</td>
        <td>{{data.playerName}}</td>
        <td>{{data.changed}}</td>
        <td>{{data.left}}</td>
        <td>{{data.api}}</td>
        <td>{{data.params|json}}</td>
        <td>{{data.time|date('Y-m-d H:i:s')}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination">
        {% if data.query.skip === 0 %}
        <li class="disabled">
            <span aria-hidden="true">&laquo;&nbsp;</span>
        </li>
        {%else%}
        <li>
            <a href="/service/get-gemchange-data?playerId={{data.query.playerId}}&dateFrom={{data.query.dateFrom|date('Y-m-d')}}&dateTo={{data.query.dateTo|date('Y-m-d')}}&skip=0"
               aria-label="First">
                <span aria-hidden="true">&laquo;&nbsp;</span>
            </a>
        </li>
        {%endif%}
        {% if data.query.skip < data.query.limit %}
        <li class="disabled">
            <span aria-hidden="true">&lsaquo;&nbsp;</span>
        </li>
        {%else%}
        <li>
            <a href="/service/get-gemchange-data?playerId={{data.query.playerId}}&dateFrom={{data.query.dateFrom|date('Y-m-d')}}&dateTo={{data.query.dateTo|date('Y-m-d')}}&skip={{data.query.skip - data.query.limit}}"
               aria-label="Previous">
                <span aria-hidden="true">&lsaquo;&nbsp;</span>
            </a>
        </li>
        {%endif%}
        {%set adjacent = 5%}
        {%set pages = Math.ceil(data.totalCount / data.query.limit)%}
        {%set curPage = Math.ceil(data.query.skip / data.query.limit)%}
        {%if curPage > adjacent%}
        {%set minPage = curPage - adjacent%}
        {%else%}
        {%set minPage = 0%}
        {%endif%}
        {%if curPage < pages - adjacent%}
        {%set maxPage = curPage + adjacent%}
        {%else%}
        {%set maxPage = pages - 1%}
        {%endif%}


        {%for i,v in Array(maxPage - minPage + 1)%}
        <li class="{%if i + minPage === curPage %}active{%endif%}">
            {%if i + minPage === curPage %}
            <a href="#">{{i + minPage + 1}}</a>
            {%else%}
            <a href="/service/get-gemchange-data?playerId={{data.query.playerId}}&dateFrom={{data.query.dateFrom|date('Y-m-d')}}&dateTo={{data.query.dateTo|date('Y-m-d')}}&skip={{data.query.limit * (i + minPage)}}">{{i
                + minPage + 1}}</a>
            {%endif%}
        </li>
        {%endfor%}
        {% if data.query.skip >= data.totalCount - data.query.limit %}
        <li class="disabled">
            <span aria-hidden="true">&nbsp;&rsaquo;</span>
        </li>
        {%else%}
        <li>
            <a href="/service/get-gemchange-data?playerId={{data.query.playerId}}&dateFrom={{data.query.dateFrom|date('Y-m-d')}}&dateTo={{data.query.dateTo|date('Y-m-d')}}&skip={{data.query.skip + data.query.limit}}"
               aria-label="Next">
                <span aria-hidden="true">&nbsp;&rsaquo;</span>
            </a>
        </li>
        {%endif%}
        {% if data.query.skip + data.datas.length >= data.totalCount%}
        <li class="disabled">
            <span aria-hidden="true">&nbsp;&raquo;</span>
        </li>
        {%else%}
        <li>
            <a href="/service/get-gemchange-data?playerId={{data.query.playerId}}&dateFrom={{data.query.dateFrom|date('Y-m-d')}}&dateTo={{data.query.dateTo|date('Y-m-d')}}&skip={{data.query.limit * (pages - 1)}}"
               aria-label="Next">
                <span aria-hidden="true">&nbsp;&raquo;</span>
            </a>
        </li>
        {%endif%}
    </ul>
</nav>
{% endblock %}