{%extends '../layouts/service.html'%}


{% block content %}
<h4 style="text-align: center">发送全服滚屏公告</h4>

<form action="/service/send-global-notice" method="post" role="form" class="form-horizontal" id="form_1">
    <input type="hidden" name="_csrf" value="{{csrf_token}}">

    <div class="form-group">
        <label class="col-sm-2 control-label">发送到哪里</label>

        <div class="col-sm-9">
            {% for key,value in req.game.servers %}
            <label class="checkbox-inline"><input type="checkbox" name="servers[{{key}}]"
                                                  value="{{value}}">{{value}}</label>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="type_1" class="col-sm-2 control-label">类型</label>

        <div class="col-sm-9">
            <select name="type" id="type_1" class="form-control">
                <option value="">请选择一个类型</option>
                {% for key,value in types %}
                <option value="{{value}}">{{key}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="content_1" class="col-sm-2 control-label">内容</label>

        <div class="col-sm-9">
            <input type="text" name="content" placeholder="内容" id="content_1" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button class="btn btn-primary" type="submit">发送</button>
        </div>
    </div>
</form>


<br/>
<h4 style="text-align: center">发送全服邮件</h4>

<form action="/service/send-global-mail" method="post" role="form" class="form-horizontal" id="form_2">
    <input type="hidden" name="_csrf" value="{{csrf_token}}">


    <div class="form-group">
        <label class="col-sm-2 control-label">发送到哪里</label>

        <div class="col-sm-9">
            {% for key,value in req.game.servers %}
            <label class="checkbox-inline"><input type="checkbox" name="servers[{{key}}]"
                                                  value="{{value}}">{{value}}</label>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="title_2" class="col-sm-2 control-label">标题</label>

        <div class="col-sm-9">
            <input type="text" name="title" placeholder="标题" id="title_2" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="content_2" class="col-sm-2 control-label">内容</label>

        <div class="col-sm-9">
            <textarea rows="5" name="content" placeholder="内容" id="content_2" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="rewards_2" class="col-sm-2 control-label">奖励</label>

        <div class="col-sm-9">
            <input type="text" name="rewards" placeholder="奖励格式为->    奖励类型1:奖励子类型1:奖励数量1,奖励类型2:奖励子类型2:奖励数量2"
                   id="rewards_2" class="form-control">

            <p><a href="javascript:showMailRewardHelp('{{req.game._id}}')">查看类型和子类型?</a></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button class="btn btn-primary" type="submit">发送</button>
        </div>
    </div>
</form>


<br/>
<h4 style="text-align: center">给指定玩家发送邮件</h4>

<form action="/service/send-mail-to-players" method="post" role="form" class="form-horizontal" id="form_3">
    <input type="hidden" name="_csrf" value="{{csrf_token}}">

    <div class="form-group">
        <label for="players_3" class="col-sm-2 control-label">玩家ID列表</label>

        <div class="col-sm-9">
            <input type="text" name="players" placeholder="玩家ID列表" id="players_3" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="title_3" class="col-sm-2 control-label">标题</label>

        <div class="col-sm-9">
            <input type="text" name="title" placeholder="标题" id="title_3" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="content_3" class="col-sm-2 control-label">内容</label>

        <div class="col-sm-9">
            <textarea rows="5" name="content" placeholder="内容" id="content_3" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="rewards_3" class="col-sm-2 control-label">奖励</label>

        <div class="col-sm-9">
            <input type="text" name="rewards" placeholder="奖励格式为->    奖励类型1:奖励子类型1:奖励数量1,奖励类型2:奖励子类型2:奖励数量2"
                   id="rewards_3" class="form-control">

            <p><a href="javascript:showMailRewardHelp('{{req.game._id}}')">查看类型和子类型?</a></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button class="btn btn-primary" type="submit">发送</button>
        </div>
    </div>
</form>
{% endblock %}

{% block foot %}
<script type="text/javascript">
    $(function(){
        $('#players_3').tagsInput({
            width:'auto',
            defaultText:''
        });

        var beforeSubmit = function(){
            waitingDialog.show();
            return true;
        };

        $('#form_1').ajaxForm({
            beforeSubmit:beforeSubmit,
            success:function(resp){
                waitingDialog.hide();
                if(resp.code === 500){
                    new PNotify({
                        text:resp.data,
                        type:'error'
                    });
                }else{
                    new PNotify({
                        text:'发送成功',
                        type:'success'
                    });
                }
            }
        });
        $('#form_2').ajaxForm({
            beforeSubmit:beforeSubmit,
            success:function(resp){
                waitingDialog.hide();
                if(resp.code === 500){
                    new PNotify({
                        text:resp.data,
                        type:'error'
                    });
                }else{
                    new PNotify({
                        text:'发送成功',
                        type:'success'
                    });
                }
            }
        });
        $('#form_3').ajaxForm({
            beforeSubmit:beforeSubmit,
            success:function(resp){
                waitingDialog.hide();
                if(resp.code === 500){
                    new PNotify({
                        text:resp.data,
                        type:'error'
                    });
                }else{
                    new PNotify({
                        text:'发送成功',
                        type:'success'
                    });
                }
            }
        })
    });

    function showMailRewardHelp(){
        window.open('/service/get-mail-reward-types');
    }
</script>
{% endblock %}