{%extends '../layouts/service.html'%}


{% block content %}
<h4 style="text-align: center">Send Global Notice</h4>

<form action="/service/send-global-notice" method="post" role="form" class="form-horizontal" id="form_1">
    <input type="hidden" name="_csrf" value="{{csrf_token}}">

    <div class="form-group">
        <label for="game_1" class="col-sm-2 control-label">Game</label>

        <div class="col-sm-9">
            <select name="gameId" id="game_1" class="form-control">
                {% for game in games %}
                <option value="{{game._id}}" servers="{{game.servers}}">{{game.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group" id="genServers_1" hidden>
        <label class="col-sm-2 control-label">Servers</label>

        <div class="col-sm-9">

        </div>
    </div>
    <div class="form-group">
        <label for="type_1" class="col-sm-2 control-label">Type</label>

        <div class="col-sm-9">
            <select name="type" id="type_1" class="form-control">
                {% for key,value in types %}
                <option value="{{value}}">{{key}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="content_1" class="col-sm-2 control-label">Content</label>

        <div class="col-sm-9">
            <input type="text" name="content" placeholder="Content" id="content_1" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button class="btn btn-primary" type="submit">Send</button>
        </div>
    </div>
</form>


<br/>
<h4 style="text-align: center">Send Global Mail</h4>

<form action="/service/send-global-mail" method="post" role="form" class="form-horizontal" id="form_2">
    <input type="hidden" name="_csrf" value="{{csrf_token}}">

    <div class="form-group">
        <label for="game_2" class="col-sm-2 control-label">Game</label>

        <div class="col-sm-9">
            <select name="gameId" id="game_2" class="form-control">
                {% for game in games %}
                <option value="{{game._id}}" servers="{{game.servers}}">{{game.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group" id="genServers_2" hidden>
        <label class="col-sm-2 control-label">Servers</label>

        <div class="col-sm-9">

        </div>
    </div>
    <div class="form-group">
        <label for="title_2" class="col-sm-2 control-label">Title</label>

        <div class="col-sm-9">
            <input type="text" name="title" placeholder="Title" id="title_2" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="content_2" class="col-sm-2 control-label">Content</label>

        <div class="col-sm-9">
            <textarea rows="5" name="content" placeholder="Content" id="content_2" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="rewards_2" class="col-sm-2 control-label">Rewards</label>

        <div class="col-sm-9">
            <input type="text" name="rewards" placeholder="The format is -> rewardType:rewardName:rewardCount"
                   id="rewards_2" class="form-control">

            <p><a href="javascript:showMailRewardHelp('game_2')">Need Help?</a></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button class="btn btn-primary" type="submit">Send</button>
        </div>
    </div>
</form>


<br/>
<h4 style="text-align: center">Send Mail To Players</h4>

<form action="/service/send-mail-to-players" method="post" role="form" class="form-horizontal" id="form_3">
    <input type="hidden" name="_csrf" value="{{csrf_token}}">

    <div class="form-group">
        <label for="game_3" class="col-sm-2 control-label">Game</label>

        <div class="col-sm-9">
            <select name="gameId" id="game_3" class="form-control">
                {% for game in games %}
                <option value="{{game._id}}">{{game.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="players_3" class="col-sm-2 control-label">Players</label>

        <div class="col-sm-9">
            <input type="text" name="players" placeholder="Players" id="players_3" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="title_3" class="col-sm-2 control-label">Title</label>

        <div class="col-sm-9">
            <input type="text" name="title" placeholder="Title" id="title_3" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="content_3" class="col-sm-2 control-label">Content</label>

        <div class="col-sm-9">
            <textarea rows="5" name="content" placeholder="Content" id="content_3" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="rewards_3" class="col-sm-2 control-label">Rewards</label>

        <div class="col-sm-9">
            <input type="text" name="rewards" placeholder="The format is -> rewardType:rewardName:rewardCount"
                   id="rewards_3" class="form-control">

            <p><a href="javascript:showMailRewardHelp('game_3')">Need Help?</a></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button class="btn btn-primary" type="submit">Send</button>
        </div>
    </div>
</form>
{% endblock %}

{% block foot %}
<script type="text/javascript">
    $(function(){
        $('#game_1').on('change', function(){
            var selected = $(this).find("option:selected").attr('servers');
            var servers = selected.split(',');
            $('#genServers_1 > div').html((function(){
                var html = '';
                for(var i = 0; i < servers.length; i++){
                    var server = servers[i];
                    html += '<label class="checkbox-inline"><input type="checkbox" name="servers[' + i + ']" value="' + server + '">' + server + '</label>';
                }
                return html;
            })());
            $('#genServers_1').removeAttr('hidden');
        });

        $('#game_2').on('change', function(){
            var selected = $(this).find("option:selected").attr('servers');
            var servers = selected.split(',');
            $('#genServers_2 > div').html((function(){
                var html = '';
                for(var i = 0; i < servers.length; i++){
                    var server = servers[i];
                    html += '<label class="checkbox-inline"><input type="checkbox" name="servers[' + i + ']" value="' + server + '">' + server + '</label>';
                }
                return html;
            })());
            $('#genServers_2').removeAttr('hidden');
        });

        $('#players_3').tagsInput({
            width:'auto',
            defaultText:''
        });

        var beforeSubmit = function(){
            waitingDialog.show();
            return true;
        };

        $('#form_1').ajaxForm({
            beforeSubmit:beforeSubmit,
            success:function(resp){
                waitingDialog.hide();
                if(resp.code === 500){
                    new PNotify({
                        text:resp.data,
                        type:'error'
                    });
                }else{
                    new PNotify({
                        text:'Send successfully',
                        type:'success'
                    });
                }
            }
        });
        $('#form_2').ajaxForm({
            beforeSubmit:beforeSubmit,
            success:function(resp){
                waitingDialog.hide();
                if(resp.code === 500){
                    new PNotify({
                        text:resp.data,
                        type:'error'
                    });
                }else{
                    new PNotify({
                        text:'Send successfully',
                        type:'success'
                    });
                }
            }
        });
        $('#form_3').ajaxForm({
            beforeSubmit:beforeSubmit,
            success:function(resp){
                waitingDialog.hide();
                if(resp.code === 500){
                    new PNotify({
                        text:resp.data,
                        type:'error'
                    });
                }else{
                    new PNotify({
                        text:'Send successfully',
                        type:'success'
                    });
                }
            }
        })
    });

    function showMailRewardHelp(gameId){
        gameId = $('#' + gameId).val();
        if(gameId.trim().length == 0){
            new PNotify({
                type:'error',
                text:'Game not selected'
            })
        }else{
            window.open('/service/get-mail-reward-types?gameId=' + gameId);
        }
    }
</script>
{% endblock %}