{% extends '../../layouts/service.html' %}

{% block head %}
<script src='/javascripts/json-format.js'></script>
<link href="/stylesheets/json-format.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <td><strong>ID</strong></td>
                <td>{{alliance._id}}</td>
            </tr>
            <tr>
                <td><strong>标签</strong></td>
                <td>{{alliance.basicInfo.tag}}</td>
            </tr>
            <tr>
                <td><strong>名称</strong></td>
                <td>{{alliance.basicInfo.name}}</td>
            </tr>
            <tr>
                <td><strong>状态</strong></td>
                <td>{{alliance.basicInfo.status}}</td>
            </tr>
            <tr>
                <td><strong>战斗力</strong></td>
                <td>{{alliance.basicInfo.power}}</td>
            </tr>
            <tr>
                <td><strong>荣耀值</strong></td>
                <td>{{alliance.basicInfo.honour}}</td>
            </tr>
            <tr>
                <td><strong>地理位置</strong></td>
                <td>第{{alliance.basicInfo.round}}圈</td>
            </tr>
            <tr>
                <td><strong>联盟人数</strong></td>
                <td>{{alliance.members.length}}</td>
            </tr>
            {%for key, value in alliance.members%}
            {%if value.title === 'archon'%}
            <tr>
                <td><strong>盟主</strong></td>
                <td>
                    <form action="/service/player/data" method="post">
                        <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                        <input type="hidden" name="type" value="id">
                        <input type="hidden" name="value" value="{{value.id}}">
                        &nbsp;
                        <button class="btn btn-link link-button" type="submit">{{value.name}}</button>
                    </form>
                </td>
            </tr>
            {%else%}
            <tr>
                <td><strong>成员{{key}}</strong></td>
                <td>
                    <form action="/service/player/data" method="post">
                        <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                        <input type="hidden" name="type" value="id">
                        <input type="hidden" name="value" value="{{value.id}}">
                        &nbsp;
                        <button class="btn btn-link link-button" type="submit">{{value.name}}</button>
                    </form>
                </td>
            </tr>
            {%endif%}
            {%endfor%}
        </table>
    </div>
    <div class="col-sm-8">
        <textarea id="RawJson" hidden>{{allianceString}}</textarea>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span id="CollapsibleViewDetail">
                    <a href="javascript:void(0);" onclick="ExpandAllClicked()">展开</a>
                    <a href="javascript:void(0);" onclick="CollapseAllClicked()">叠起</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(3)">2级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(4)">3级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(5)">4级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(6)">5级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(7)">6级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(8)">7级</a>
                    <a href="javascript:void(0);" onclick="CollapseLevel(9)">8级</a>
                </span>
                <span hidden>
                    <select id="TabSize" onchange="TabSizeChanged()">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <input type="checkbox" id="QuoteKeys" onclick="QuoteKeysClicked()"/>
                    <input type="checkbox" id="CollapsibleView" onclick="CollapsibleViewClicked()" checked/>
                </span>
            </div>
            <div class="panel-body" id="Canvas"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block foot %}
<script type="text/javascript">
    $(function(){
        QuoteKeysClicked();
        CollapseLevel(3);
    })
</script>
{% endblock %}


