{% extends '../../layouts/admin.html' %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/admin/users/list">用户列表</a></li>
    <li class="active">编辑用户</li>
</ol>
<h4 style="text-align: center">编辑用户</h4>

<form action="/admin/users/edit/{{user._id}}" method="post" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{csrf_token}}">
    <input type="hidden" name="_method" value="PUT">

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">邮箱地址</label>

        <div class="col-sm-9">
            <input type="text" name="email" placeholder="邮箱地址" value="{{user.email}}" id="email"
                   class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">角色</label>

        <div class="col-sm-9">
            {% for index, role in roles %}
            <label class="checkbox-inline">
                <input type="checkbox" id="roleCheckbox_{{index}}" name="roles[{{index}}]" value="{{role}}"
                       {%if contains(user.roles, role) %}checked{% endif %}>
                {{role}}
            </label>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">可管理哪些游戏</label>

        <div class="col-sm-9">
            {% for index, game in games %}
            <label class="checkbox-inline">
                <input type="checkbox" id="gameCheckbox_{{index}}" name="games[{{index}}]" value="{{game._id}}"
                       {%if contains(user.games, game._id) %}checked{% endif %}>
                {{game.name}}
            </label>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button class="btn btn-primary" type="submit">编辑</button>
            &nbsp; or &nbsp;
            <a href="/admin/users/list" class="show-login">取消</a>
        </div>
    </div>
</form>
{% endblock %}