<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../includes/head.html' %}
    {% block head %}{% endblock %}
</head>
<body>
{% include '../includes/navbar.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{{isActive('/admin/users/list')}}"><a href="/admin/users/list">Users</a></li>
                <li class="{{isActive('/admin/games/list')}}"><a href="/admin/games/list">Games</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-md-offset-2 content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<!-- /container -->
{% include '../includes/foot.html' %}
{% block foot %}{% endblock %}
{% include '../includes/messages.html' %}
</body>
</html>
