<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../includes/head.html' %}
    {% block head %}{% endblock %}
</head>
<body>
{% include '../includes/navbar.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{{isActive('/manager/games/get-server-info')}}">
                    <a href="/manager/games/get-server-info">服务器</a>
                </li>
                <li class="{{isActive('/manager/revenue')}}">
                    <a href="/manager/revenue">收入</a>
                </li>
                <li class="{{isActive('/manager/analyse')}}">
                    <a href="/manager/analyse">数据统计</a>
                </li>
                <li class="{{isActive('/manager/dailyReports')}}">
                    <a href="/manager/dailyReports">日报</a>
                </li>
                <li class="{{isActive('/manager/activities')}}">
                    <a href="/manager/activities">活动管理</a>
                </li>
                <li class="{{isActive('/manager/mods')}}">
                    <a href="/manager/mods/list">墨子管理</a>
                </li>
                <li class="{{isActive('/manager/logs')}}">
                    <a href="/manager/logs">操作日志</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-md-offset-2 content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<!-- /container -->
{% include '../includes/foot.html' %}
{% block foot %}{% endblock %}
{% include '../includes/messages.html' %}
</body>
</html>
