<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../includes/head.html' %}
    {% block head %}{% endblock %}
</head>
<body>
{% include '../includes/navbar.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{{isActive('/service/player/search')}}">
                    <a href="/service/player/search">玩家查询</a>
                </li>
                <li class="{{isActive('/service/alliance/search')}}">
                    <a href="/service/alliance/search">联盟查询</a>
                </li>
                <li class="{{isActive('/service/notice-and-mail')}}">
                    <a href="/service/notice-and-mail">滚屏公告&邮件</a>
                </li>
                <li class="{{isActive('/service/chat')}}">
                    <a href="/service/chat">聊天查询</a>
                </li>
                <li class="{{isActive('/service/player/get-gm-chats')}}">
                    <a href="/service/player/get-gm-chats">GM陪聊</a>
                </li>
                <li class="{{isActive('/service/ban')}}">
                    <a href="/service/ban/list">禁止登陆列表</a>
                </li>
                <li class="{{isActive('/service/mute')}}">
                    <a href="/service/mute/list">禁言列表</a>
                </li>
                <li class="{{isActive('/service/get-gemchange-data')}}">
                    <a href="/service/get-gemchange-data">宝石变动</a>
                </li>
                <li class="{{isActive('/service/get-gemadd-data')}}">
                    <a href="/service/get-gemadd-data">宝石道具获得</a>
                </li>
                <li class="{{isActive('/service/server-notice')}}">
                    <a href="/service/server-notice">服务器公告</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-md-offset-2 content" id="body_content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<!-- /container -->
{% include '../includes/foot.html' %}
{% block foot %}{% endblock %}
{% include '../includes/messages.html' %}
</body>
</html>
