<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../includes/head.html' %}
    {% block head %}{% endblock %}
</head>
<body>
{% include '../includes/navbar.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{{isActive('/service/player/data')}}"><a href="/service/player/data">Player</a></li>
                <li class="{{isActive('/service/alliance/data')}}"><a href="/service/alliance/data">Alliance</a></li>
                <li class="{{isActive('/service/notice-and-mail')}}">
                    <a href="/service/notice-and-mail">Notice&Mail</a>
                </li>
                <li class="{{isActive('/service/chat')}}"><a href="/service/chat">Chat</a></li>
                <li class="{{isActive('/service/player/ban-and-unban')}}"><a href="/service/player/ban-and-unban">Ban&Unban</a></li>
                <li class="{{isActive('/service/player/mute-and-unmute')}}"><a href="/service/player/mute-and-unmute">Mute&Unmute</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-md-offset-2 content" id="body_content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<!-- /container -->
{% include '../includes/foot.html' %}
{% block foot %}{% endblock %}
{% include '../includes/messages.html' %}
</body>
</html>
